<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-havana justify-content-between">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand link-off" href="{{ site_url }}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if page == 'index' %}active{% endif %} link-off" aria-current="page" href="{{ site_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'whitelist' %}active{% endif %} link-off" href="{{ site_url }}/whitelist">Whitelist</a>
                </li>
                <li class="nav-item">
                    {% if page == 'index' %}
                    <a class="nav-link" href="#store">Nossa Loja</a> {% else %}
                    <a class="nav-link" href="{{ site_url }}/#store">Nossa Loja</a> {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>